.sidebar {
	width: max(12rem, 20%);
	background-color: white;
	color: #8691a8;
	padding: 2rem;

	ul {
		list-style: none;
		display: grid;
		// justify-content: start;
		// align-items: start;
		padding: 0;
	}
}

.main-nav-item {
	display: flex;
	// justify-content: space-between;
	gap: 1rem;
}
