.navBar {
	width: max(12rem, 20%);
	background-color: white;
	// color: #32363f;
	// color: #5e5d5d;
	// color: #4e4e4e;

	padding: 2rem;

	ul {
		list-style: none;
		display: grid;
		padding: 0;
	}
}

.main-nav-item {
	a {
		gap: 1rem;
		display: flex;
		width: 100%;
		padding-left: 0.5rem;
		transition: all 100ms ease-in;
	}

	a.active {
		background-color: #fef3f1;
		& .sidebar-icon {
			color: white;
			background-color: rgb(243, 68, 72);
			border-radius: 50%;
			padding: 0.1rem;
			transition: all 150ms ease-in-out;
		}
	}

	a:hover {
		border: none;
		color: rgb(243, 68, 72);
	}
}
