.header {
	display: flex;
	width: 100%;
	justify-content: space-between;
	.add-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.4rem;
		font-weight: 5s00;
		font-size: 0.9rem;
	}
	.controls {
		display: flex;
		gap: 0.2rem;
	}
}
