@use "./card";
.selector {
	@extend %card-wrapper;
	background-color: var(--main-bg-color);
	padding: 0.6rem 1rem;

	& + & {
		border-radius: 0;
	}

	&:first-child {
		border-radius: 2rem 0 0 2rem;
	}

	&:last-child {
		border-radius: 0 2rem 2rem 0;
	}

	.header {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 0.4rem;
		position: relative;
	}
}

.dropdown {
	@extend %card-wrapper;
	position: absolute;
	z-index: 1000;
	top: 120%;

	transform: translateX(-10%);
	background-color: var(--main-bg-color);
	background-clip: padding-box;
	padding: 0.4rem;
	&::before {
		content: "";
		position: absolute;
		top: -6px;
		left: 50%;
		width: 0;
		height: 0;
		transform: translateX(-50%);
		border-right: 6px solid transparent;
		border-bottom: 6px solid white;
		border-left: 6px solid transparent;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;

		li {
			padding: 0.6rem;
			cursor: pointer;
			border-radius: 0.15rem;

			&:hover {
				// background-color: rgb(128, 128, 128, 0.2);
				color: rgb(243, 68, 72);
			}
		}
	}
}
