@use "./card";
.table {
	@extend %card-wrapper;
	margin-top: 2rem;
	display: block;
	scrollbar-width: thin;

	width: 100%;
	height: 65vh;
	background-color: white;
	// padding: 0.6rem;
	overflow-y: scroll;
	border-collapse: collapse;
	thead {
		position: sticky;
		top: 0;
		vertical-align: bottom;
		background-color: white;
		width: 100%;
		padding: 1rem;
		border-bottom: 1px solid rgb(161, 160, 160, 0.5);
	}
	tbody {
		height: 200px;
		overflow: hidden;
	}
	tr + tr {
		border-top: 1px solid rgb(161, 160, 160, 0.5);
	}
	td,
	th {
		padding: 0.6rem 1rem;
		overflow: hidden;
	}
	// th:nth-child(4) {
	// 	width: 40px;
	// }
	td {
		height: 2rem;
		text-overflow: ellipsis;
	}

	tr {
		// max-height: 3rem;
		// overflow: hidden;
		line-height: 30px;
		// white-space: nowrap;
	}
}
