@use "../../styles/scss/card";
.card {
	@extend %card-wrapper;
	padding: 1rem;
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5rem;

	.icon {
		height: 50px;
		width: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 0.4rem;
	}

	.details {
		span {
			display: block;
			text-align: right;
		}

		.value {
			margin-bottom: 0.5rem;
			color: black;
			font-size: 1.2rem;
			font-weight: bold;
		}
	}
}
