.header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	font-family: "Roboto", sans-serif;
	padding: 2rem clamp(0.5rem, 2vw + 0.6rem, 4rem);

	/* padding: 1rem; */
}

.nav ul {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	padding: 0;
	list-style: none;
}

nav a {
	text-decoration: none;
	color: inherit;
	padding: 0.6rem 2rem;
	border-radius: 2rem;
	transition: all 0.2s ease-out;
}

nav a:hover {
	color: rgb(151, 182, 62);
	background: none;
	border: 1px solid rgb(151, 182, 62);
}

.active {
	background-color: rgb(243, 68, 72);
	color: white;
}
