.btn {
	padding: 1rem;
	/* margin-top: 1rem; */
	border: none;
	background: none;
	color: white;
	padding: 0.6rem 2rem;
	border-radius: 2rem;
	transition: all 0.2s ease-out;
	background-color: #3d8bf7;
	cursor: pointer;
}

.active {
	background-color: rgb(243, 68, 72);
	color: white;
}

/* .btn:hover {
  color: rgb(5, 141, 5);
} */

.btn:active {
	transform: scale(0.9);
}
