.input-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  /* padding: 1rem; */
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: #757994;
  height: 5rem;
  padding: 0.5rem 1rem;
  max-width: 30rem;
}

.input-wrapper:focus,
.input-wrapper:hover {
  background-color: #edf1f4;
  border-radius: 6px;
}

input {
  border: none;
  background-color: transparent;
  color: #4d4a4a;
}
input:focus,
input:active {
  outline: transparent;
}

.input-span {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.validation-icon {
  width: 1.9rem;
  height: 1.9rem;
  text-align: center;
  border-radius: 50%;
  background-color: #3c9842;
  color: white;
  border: 3px solid white;
  /* display: flex; */

  /* background-color: blue; */
}

.icon-right {
  margin-left: auto;
}
