.logo {
	font-size: clamp(1.5rem, -0.875rem + 4.3333vw, 2rem);
	font-style: italic;
	font-family: "Krub", sans-serif;
	font-weight: bold;
}
.part1 {
	color: rgb(243, 68, 72);
}

.part2 {
	color: rgb(151, 182, 62);
}
