.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1rem; */
}

.nav ul {
  display: flex;
  gap: 1.5rem;
  padding: 0;
  list-style: none;
}

.active {
  color: red;
}
